:root {
	--toggle-height: 0;
}

div.genie-wrap {
	font-family: var(--theme-body-font);
	fill: var(--theme-body-color);
	color: var(--theme-body-color);
	width: 100%;
	height: 100%;
	font-size: var(--theme-font-size);
}

.genie-landing-page div.genie-wrap {
	margin: 2.5vh 0 0;
	height: auto;
}

div.genie-wrap footer {
	font-size: 65%;
	margin: 0.75rem 0;
	color: var(--theme-heading-color);
}

.popup-dialog {
	display: none;
	background-color: #000c;
	position: fixed;
	z-index: 999999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
}

.popup-dialog.visible {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.popup-dialog > * {
	width: 40vw;
	min-height: 20vh;
	text-align: center;
	position: relative;
	border-radius: 10px 10px 0 0;
	background-color: var(--theme-body-background);
}

.popup-dialog > .no-background {
	background-color: transparent;
}

body.hasPopup {
	overflow: hidden;
}

.popup-close {
	position: absolute;
	cursor: pointer;
	top: -35px;
	right: 0;
	width: 25px;
	height: 25px;
	background-color: transparent;
	transition: transform 0.75s;
}

.popup-close:hover {
	transform: rotate(360deg);
}

.pac-container.pac-logo {
	z-index: 999999;
}

.invert {
	background-color: var(--theme-heading-color);
	color: var(--theme-body-background);
}

.heading-invert {
	background-color: var(--theme-heading-color);
	color: var(--theme-body-background);
}

.center {
	text-align: center;
}

#colors .color {
	animation: slideToSize 1s linear 750ms 1 backwards;
	box-sizing: border-box;
	transition: width 1s ease-in;
	width: var(--size);
}

#colors > *:nth-child(1) .color {
	background: #b6e026;
	background: linear-gradient(to right, #b6e026 0%, #57961c 100%);
}
#colors > *:nth-child(2) .color {
	background: #e570e7;
	background: linear-gradient(to right, #e570e7 0%, #c85ec7 47%, #a849a3 100%);
}
#colors > *:nth-child(3) .color {
	background: #ff9797;
	background: linear-gradient(to right, #ff9797 0%, #ed1747 100%);
}
#colors > *:nth-child(4) .color {
	background: #62efb1;
	background: linear-gradient(to right, #62efb1 0%, #1abc73 100%);
}
#colors > *:nth-child(5) .color {
	background: #37eefe;
	background: linear-gradient(to right, #37eefe 0%, #00a0e6 100%);
}
#colors > *:nth-child(6) .color {
	background: #ffd800;
	background: linear-gradient(to right, #ffd800 0%, #ff6d00 100%);
}
.upper {
	text-transform: uppercase;
}
.flex-row {
	width: 100%;
	display: flex;
}
.flex-col {
	display: flex;
	flex-direction: column;
}

.toggle-container {
	transition: height 0.35s ease-in-out;
	overflow: hidden;
}
.toggle-container:not(.active) {
	height: var(--toggle-height) !important;
}

div#genie-map,
div.genie-map {
	width: 100%;
	height: 100%;
}

.genie-embed  {
	background-color: var(--theme-body-background);
	color: var(--theme-body-color);
	font-family:  var(--theme-body-font);
}

.genie-embed h1 {
	font-size: 2.5px;
}

.genie-embed [data-wenk]:after {
	background-color: var(--theme-body-color);
	color: var(--theme-body-background);
	border: 1px solid var(--theme-body-background);
	opacity: 0.8 !important;
}
