g .ct-series-a .ct-point {
	stroke: var(--theme-heading-color);
}

.genie-wrap .ct-axis-title {
	fill: var(--theme-heading-color);
}
.genie-wrap .ct-label {
	color: var(--theme-heading-color);
}

.genie-wrap .ct-grid {
	stroke: var(--theme-heading-color);
	stroke-opacity: 0.5;
}

span.ct-label.ct-horizontal.ct-end {
	margin-left: -10px;
	text-align: center;
}

.genie-wrap .ct-horizontal:not(:first-of-type) {
	display: none;
}

.genie-wrap .ct-series-a .ct-line {
	stroke: var(--theme-sub-heading-color);
}

.chartist-tooltip {
	position: absolute;
	display: inline-block;
	opacity: 0;
	min-width: 5em;
	padding: 0.5em;
	background: #f4c63d;
	color: #453d3f;
	font-family: Oxygen, Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-align: center;
	pointer-events: none;
	z-index: 1;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}
.chartist-tooltip:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -15px;
	border: 15px solid transparent;
	border-top-color: #f4c63d;
}
.chartist-tooltip.tooltip-show {
	opacity: 1;
}

.ct-area,
.ct-line {
	pointer-events: none;
}
