#data-access {
	border-radius: 10px;
	width: 450px;
	margin: auto;
	padding: 2rem;
	z-index: 999;
}

#data-access p {
	font-size: 70%;
	line-height: 110%;
	text-align: center;
}

#data-access.lead-capture-form {
	flex-direction: column;
}

#data-access.lead-capture-form input {
	width: 100%;
}
