#genie-leadCtaTagPopup.popup-dialog {
	justify-content: flex-start;
}

.lead-cta-title {
	text-align: center;
	color: #fff;
	margin: 2vh;
	min-height: auto;
}

.cta-subtitle, .cta-response {
  padding: 15px 15px 10px 15px;
}

.cta-contact {
  color: var(--theme-body-color);
  padding: 10px;
}

.cta-body {
  color: var(--theme-body-color);
  padding: 10px;
}

.lead-cta-img-container {
  padding: 5px;
}

.lead-cta-img-container img {
  max-width: 100%;
}

.lead-cta-copy-container button {
	background-color: var(--theme-heading-color);
	border-style: none;
	font-size: 115%;
	color: var(--theme-body-background);
	padding: 1rem 3.5rem;
	border-radius: 35px;
	font-weight: bold;
	border: 2px solid var(--theme-body-color);
	text-transform: uppercase;
	margin: 0.5rem auto;
	cursor: pointer;
	transition: opacity 0.25s linear;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: nowrap;
}

.lead-cta-copy-container button svg {
	--theme-heading-color: var(--theme-body-background);
}

.lead-cta-copy-container button:hover {
	opacity: 0.8;
}

.lead-cta-container {  
  z-index:999999;
  position:relative;
}

.lead-cta {
	width: 50%;
	margin: 1rem 0;
	position: absolute !important;	
  border-radius: 10px 10px 10px 10px !important;
	top: 5vh;
}

@media (max-width: 960px) {
	.popup-dialog > * {
		max-width: 100vw;
		width: 96vw;
	}	
}


