#listing-images {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 2rem;
	justify-content: space-between;
	max-height: 540px;
	overflow: hidden;
}

#listing-images.show-all {
	max-height: inherit;
	overflow: visible;
}

div#listing-images > div {
	max-height: 165px;
	margin-bottom: 1rem;
}

div#listing-images.gallery,
div#listing-images.gallery > div {
	max-height: inherit;
}

div#listing-images > div:hover {
	filter: saturate(4);
}

#listing-images > div {
	position: relative;
}

#listing-images > div:hover:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-image: url(https://hubsandbox.thegenie.ai/_assets/_img/icons/plus.svg);
	background-size: 40px;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 1;
	cursor: pointer;
}

#listing-images.gallery > div:hover:before {
	background-size: 90px;
}

#listing-images img {
	height: 100%;
	width: 16vw;
	object-fit: cover;
	object-position: center;
	user-select: none;
}

#listing-images .photo-arrow {
	display: none;
}

div#listing-images.gallery {
	position: fixed;
	background-color: #000e;
	width: 100%;
	height: 100%;
	z-index: 99999;
	top: 0;
	left: 0;
	margin: 0;
	overflow: hidden;
}

div#listing-images.gallery {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-content: center;
}

#listing-images.gallery .photo-arrow {
	display: block;
	width: 55px;
	margin: 2rem;
}

#listing-images.gallery > div > img {
	width: 100%;
	max-height: 70vh;
}

#listing-images.gallery div {
	max-width: 90vw;
	display: none;
	box-shadow: 10px 10px 20px 0 rgba(94, 47, 59, 0.2);
}

#listing-images.gallery div.active {
	display: block;
	animation: fadeImg 0.8s;
}

@keyframes fadeImg {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
