.snapshot-details {
    flex-basis: 50%;
}

.snapshot-map {
    flex-basis: 50%;
    width: 100%;
    height: 400px;
}

#snapshot-delta {
    margin-top: 0;
    padding: 0;
    float: right;
    width: 40%;
    font-size: 80%;
    margin-right: 20%;
}

h3 {
    font-size: 80%;
    color: var(--theme-heading-color);
    margin-bottom: 0.5rem;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.MarketUpdate h1.upper {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 0;
}

.MarketUpdate .today-date {
    font-size: 16px;
    text-transform: none;
    letter-spacing: 1px;
}

.MarketUpdate h2 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: var(--theme-sub-heading-color);
}

.MarketUpdate p {
    margin: auto;
    line-height: 160%;
    font-weight: 300;
    font-size: 16px;
}

.MarketUpdate h2 + p {
    padding-right: 20px;
}

.MarketUpdate select#date-period,
select#date-period {
    font-size: 17px !important;
    border: 1px solid;
    font-weight: 400 !important;
    padding: 7px 15px 7px 2px !important;
    border-color: var(--theme-sub-heading-color);
    color: var(--theme-body-color);
    margin: 0;
    width: 170px;
    letter-spacing: 0;
    height: auto;
    border-radius: 0 !important;
    background: transparent;
}

.MarketUpdate h3 {
    font-size: 16px;
    line-height: 100%;
    margin: 0px 0px 5px;
    font-weight: 600;
}

.MarketUpdate h3 ~ p {
    font-weight: 600;
    line-height: 130%;
    margin: 0px 0px 0;
    font-size: 30px;
    margin-bottom: 24px;
}

.MarketUpdate h3:first-of-type + p {
    margin-bottom: 15px;
}

.MarketUpdate h3 ~ p span {
    font-size: 13px;
    color: var(--theme-sub-heading-color);
    display: block;
    line-height: 150%;
}


p#snapshot-delta {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 160%;
    display: block;
    font-style: italic;
    position: relative;
    padding-left: 17px;
    top: 0;
}

p#snapshot-delta svg {
    width: 13px !important;
    height: 13px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 6px;
}

.full-width-embed {
    background: var(--theme-body-background);
    padding: 40px 0;
}

.fastfacts h1,
.MarketTrending h1,
.MarketHistory h1,
.PeopleBuying h1 {
    color: var(--theme-heading-color);
    font-weight: 400;
    margin: 0px;
    font-size: 34px;
    line-height: 120%;
}

.MarketTrending h1,
.PeopleBuying h1 {
    color: var(--theme-heading-color);
    line-height: 100%;
}

.fastfacts p {
    font-size: 16px;
    color: var(--theme-body-color);
    line-height: 140%;
}

.FastFacts {
    padding: 30px 15px 39px;
}

.MarketHistory select#date-period,
.fastfacts select#date-period,
.fast-facts-property-icons h3,
.fast-facts-stats-icons h3,
.fast-facts-property-icons > div span,
.fast-facts-property-icons span,
.fast-facts-stats-icons span,
span.ct-label,
.ct-label.ct-vertical.ct-start {
    color: var(--theme-body-color);
}


.fast-facts-property-icons h3,
.fast-facts-stats-icons h3 {
    font-size: 13px;
}

div.fast-facts-property-icons > div span {
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
    margin-bottom: 0;
    margin-top: 5px;
    border-bottom: 2px solid var(--theme-sub-heading-color);
    position: relative;
    top: -5px;
    line-height: 120%;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
}

.fast-facts-property-icons > div span:hover {
    opacity: 0.8;
}

.fast-facts-property-icons span,
div.fast-facts-stats-icons span {
    font-weight: 400;
}

div.fast-facts-stats-icons > div {
    margin-right: 0;
    justify-content: center;
}

.fast-facts-stats-icons > div svg {
    width: 65px !important;
}

.fast-facts-stats-icons h3 {
    margin: 0;
    line-height: 150%;
}

.MarketTrending h4 {
    font-size: 20px;
    letter-spacing: 2px;
    color: var(--theme-sub-heading-color);
    line-height: 140%;
    font-weight: 400;
    margin-bottom: 5px;
}

div.MarketTrending #big-squares svg {
    margin: 0;
}

.mr-icon .avg-value {
    font-size: 40px;
    display: block;
    line-height: 120%;
}

.mr-icon img {
    margin-top: 11px;
}

.mr-icon svg {
    width: 50px;
    height: 50px;
}

div.mr-icon div.avg-text {
    font-size: 18px;
    text-transform: capitalize;
    line-height: 120%;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 500 !important;
    width: 82%;
}

div#big-squares {
    width: 57%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

div.curved-tabs > * {
    color: var(--theme-sub-heading-color);
    padding: 10px 35px;
    margin-right: 0;
    border: 0;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid var(--theme-sub-heading-color);
    position: relative;
}

div.curved-tabs *:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

div.curved-tabs *:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

div.curved-tabs span:nth-child(2) {
    border-left: 0;
    border-right: 0;
}

div.curved-tabs > *.active {
    color: var(--theme-body-background);
    background: var(--theme-body-color);
}

div.curved-tabs > *.active:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-top-color: inherit;
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: -14px;
    margin: auto;
    opacity: 1;
}

line.ct-grid {
    stroke-dasharray: 0;
    stroke: var(--theme-heading-color) !important;
}

.PeopleBuying h1 {
    line-height: 130%;
}

.horizontal-bars > div > span > span,
.horizontal-bars > div > span:nth-child(2) {
    border-radius: 25px !important;
}

div.horizontal-bars > div > span > span {
    font-size: 11px;
}

.trending-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 87%;
    margin: 3vh auto;
}

.graph-number {
    width: 5%;
}

text.ct-axis-title {
    fill: var(--theme-body-background) !important;
}

.mode-sold,
#listing-table {
    border-spacing: 0;
}

div#ff-listing-table {
    max-width: 100%;
    background-color: transparent;
}

div#ff-listing-table td,
div#ff-listing-table th {
    padding: 15px 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: none;
    border-bottom: 2px solid #ddd;
    color: var(--theme-body-color);
    font-size: 14px;
    text-align: left;
}

div#ff-listing-table td.blur-text {
    text-shadow: 0 0 9px #333;
    color: transparent !important;
}

div#ff-listing-table svg {
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    clear: both;
    padding: 25px 10px 0px;
    margin-top: 0;
}

footer span {
    flex: 0 0 33.3%;
    max-width: 33.33%;
    text-align: left;
}

footer span:first-child {
    text-align: left;
}

footer span:nth-child(2) {
    text-align: center;
}

footer span:last-child {
    text-align: right;
}

div.fast-facts-property-icons > div span:hover {
    text-decoration: none;
}

table#listing-table + div {
    flex-direction: column;
}

#ff-listing-table ul.pagination {
    padding: 0;
    padding-bottom: 60px;
}

#ff-listing-table ul.pagination li {
    background-color: #f2f2f2;
    color: #666;
    padding: 6px 10px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 8px;
    font-size: 13px;
    line-height: 100%;
}

#ff-listing-table ul.pagination li.active {
    background: var(--theme-body-color);
    color: var(--theme-body-background);
}

g.ct-series-a .ct-line {
    stroke: var(--theme-sub-heading-color);
    stroke-width: 2px;
}

.markethistory {
    padding: 32px 0 22px;
}

.market-history-chart + footer {
    padding-top: 0;
}

#colors .color,
.horizontal-bars > div > span:nth-child(2) {
    height: 35px;
}

select#date-period option {
    font-size: 15px;
    color: #999;
}

#colors .color {
    line-height: 170%;
}

div.market-history-chart {
    margin: 2rem auto 0;
}

div.genie-wrap.peoplebuying footer {
    margin-bottom: 0
}

.marketupdate div#hometypes-choice {
    justify-content: left;
}

div#ff-listing-table td:first-child {
    display: flex;
}

div#ff-listing-table td svg {
    margin-right: 20px;
    margin-bottom: 0px;
    height: 30px !important;
}

div div.fast-facts-stats-icons > div {
    justify-content: space-between;
}

div ul.pagination li.active {
    cursor: pointer;
}


@media (max-width:991px) {
    div.mr-icon div.avg-text {
        font-size: 13px;
        
    }
    div.mr-icon div.avg-text{
        width: 46%;
    }        

    div#big-squares {
        flex-wrap: wrap;
    }

    div.MarketTrending #big-squares svg {
        max-width: 50%;
        flex: 0 0 50%;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 768px) {
    .snapshot-map {
        flex-basis: initial;
    }
     div.mr-icon div.avg-text{
        width: 66%;
    }
}


@media (max-width:580px) {
    .FastFacts {
        padding: 30px 0 15px;
    }

    .marketupdate .flex-row {
        flex-direction: column;
    }

    p#snapshot-delta {
        float: left;
        width: 100%;
    }


    .MarketUpdate h3 {
        font-size: 14px;
        font-weight: 400;
    }

    .MarketUpdate h3 ~ p {
        font-weight: 900;
        margin-bottom: 14px;
        font-size: 34px;

    }

    .leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
        min-height: 490px;
    }

    .snapshot-details {
        margin-bottom: 10px;
    }

    .fastfacts p {
        margin: 0 !important
    }

    div.fast-facts-property-icons {
        max-width: 100%;
        width: 100%;
            align-items: center;
    }

    div#big-squares {
        flex-wrap: wrap;
        flex-direction: unset;
        width: 100%;
    }

    .MarketTrending #big-squares svg {
        padding: 0 8px;
    }

    div.MarketTrending #big-squares svg {
        max-width: 50%;
        flex: 0 0 50%;        
    }

    div.mr-icon {
        text-align: center;
    }

    .trending-box {
        flex-wrap: wrap;
        width: 100%;
    }

    .mr-icon .avg-value {
        font-size: 30px;
    }

    div.mr-icon div.avg-text {
        font-size: 13px;
       
        
    }

    div.curved-tabs > * {
        padding: 5px;
        font-size: 11px;
    }

    div.market-history-chart {
        min-height: 100%;
        height: 100%;
        min-width: 100%;
    }

    .fastfacts h1,
    .MarketTrending h1,
    .MarketHistory h1,
    .PeopleBuying h1 {
        font-size: 27px;
    }

    .graph-number {
        width: 15%;
    }

    div.genie-wrap footer {
        font-size: 60%;
    }

    div#ff-listing-table td:before {
        position: absolute;
        top: 16px !important;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        padding-left: 30px;
        text-shadow: none;
    }

    div#ff-listing-table td {
        padding-left: 50%;
        position: relative;
    }

    div#ff-listing-table tr,
    div#ff-listing-table td {
        display: block;
    }

    div#ff-listing-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
        border-top: none;
        border-bottom: none;
    }

    div#ff-listing-table tr {
        border: 1px solid #ccc;
        transition: all .56s;
    }

    div#ff-listing-table td:nth-of-type(1):before {
        content: "ADDRESS"
    }

    div#ff-listing-table td:nth-of-type(2):before {
        content: "LIST PRICE"
    }

    div#ff-listing-table td:nth-of-type(3):before {
        content: "BR"
    }

    div#ff-listing-table td:nth-of-type(4):before {
        content: "BA"
    }

    div#ff-listing-table td:nth-of-type(5):before {
        content: "LIST DATE"
    }

    div#ff-listing-table td:nth-of-type(6):before {
        content: "SQ FT"
    }

    div#ff-listing-table td:nth-of-type(7):before {
        content: "$ / SQ FT"
    }

    div#ff-listing-table td:nth-of-type(8):before {
        content: "DOM"
    }
    /*mode sold table*/
     div#ff-listing-table .mode-sold td:nth-of-type(1):before {
        content: "ADDRESS"
    }

    div#ff-listing-table .mode-sold td:nth-of-type(2):before {
        content: "BR"
    }

    div#ff-listing-table .mode-sold td:nth-of-type(3):before {
        content: "BA"
    }

    div#ff-listing-table .mode-sold td:nth-of-type(4):before {
        content: "SQ FT"
    }

    div#ff-listing-table .mode-sold td:nth-of-type(5):before {
        content: "LIST PRICE"
    }

    div#ff-listing-table .mode-sold td:nth-of-type(6):before {
        content: "SOLD PRICE"
    }

    div#ff-listing-table .mode-sold td:nth-of-type(7):before {
        content: "SOLD DATE"
    }

    div#ff-listing-table .mode-sold td:nth-of-type(8):before {
        content: "$ / SQ FT"
    }
    
     div#ff-listing-table .mode-sold td:nth-of-type(9):before {
        content: "DOM"
    }
    
    .MarketUpdate h2 + p {
        padding-right: 0px;
    }

}

@media (max-width:380px) {

    div.MarketTrending #big-squares svg,
    div.mr-icon {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 20px
    }

    div#big-squares {
        justify-content: center;
    }
    div.mr-icon div.avg-text{
        width: 40%;
    }
   
}
