.market-report-tiles {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1.5vmax;
	flex-basis: 100%;
	padding: 1vmax;
}

.market-report-tiles > * {
	background-color: var(--theme-body-background-50);
	border-top: calc(0.25em + 0.25vw) solid var(--theme-sub-heading-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	box-sizing: border-box;
	padding: 1vmax;
}

.market-report-tiles > * > h2 {
	font-weight: normal;
}

#genie-wrap-SM .market-report-tiles {
	display: flex;
	flex-direction: column;
}
#genie-wrap-SM .market-report-tiles > * {
	margin-bottom: 1vmax;
}
.MarketReportTiles .genie-wrap {
	background-image: url("/_assets/_img/market-report-tiles-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
