.MarketTrending {
    text-align: center;
}

.MarketTrending #big-squares {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
    width: 59%;
}

.MarketTrending #big-squares svg {
    flex-basis: 25%;
    
    font-size: 125%;
    color: var(--theme-body-color);
}

.mr-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mr-icon svg {
    width:100%;
}

.mr-icon > * {
    display: inline-block;
    text-align: center;
    margin: 0.5rem 0;
}

.mr-icon > div:nth-child(2) {
    font-size: 90%;
    font-weight: bold;
}

.mr-icon > div:nth-child(3) {
    font-size: 180%;
    font-weight: bold;
}

.MarketTrending #big-squares svg .status-type {
    font-size: 25px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.MarketTrending #big-squares svg .number-count {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.MarketTrending #big-squares svg .stats {
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}

.trending-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    max-width: 85%;
    margin: 5vh auto;
}

.snapshot-area {
    grid-template-columns: 2fr 1fr;
}

@media (max-width: 1200px) {
    .MarketTrending #big-squares {
        width: 90%;
    }
}

@media (max-width: 991px) {
    .MarketTrending #big-squares {
        width: 100%;
        flex-wrap: wrap;
    }

    .MarketTrending #big-squares svg {
        margin-bottom: 20px;
        height: 120px;
        flex-basis: 40%;
    }

    .trending-box {
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 100%;
        margin: 0 0 5vh 0;
    }

    .mr-icon {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .mr-icon svg {
        width: 50px;
        height: 50px;
    }
}

@media (max-width:600px) {
    .snapshot-area {
        display: block;
        grid-template-columns: 2fr 1fr;
    }
}
