div.Xpopup-dialog {
	position: fixed;
	background-color: #000d;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	justify-content: center;
	align-items: center;
	display: none;
}

div.popup-dialog.visible {
	display: flex;
}

.popup-dialog  {
	background-color: var(--theme-body-background);
	border-radius: 10px 10px 0 0;
	position: relative;
}

#popup-email {
	display: block;
	border-radius: 5px;
	outline: none;
	border: 1px solid #0009;
	padding: 1rem;
	width: 80%;
	margin: auto;
}

#popup-submit {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	outline: none;
	border: 1px solid #0009;
	padding: 1rem;
	width: 100%;
	margin: 0;
	background-color: var(--theme-body-color);
	color: var(--theme-body-background);
	border-radius: 0;
	font-weight: bold;
	font-size: 120%;
	box-sizing: border-box;
}
