@font-face {
    font-family: 'futura';
    font-style: normal;
    font-weight: 300;
    src: url('../_fonts/futura-light-font.ttf');
}

@font-face {
    font-family: 'futura';
    font-style: normal;
    font-weight: 400;
    src: url('../_fonts/futura-font.ttf');
}

@font-face {
    font-family: 'futura';
    font-style: normal;
    font-weight: 600;
    src: url('../_fonts/futura-bold.otf');
}
