@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../_fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../_fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../_fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../_fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../_fonts/Poppins-ExtraBold.ttf');
}
