@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../_fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('../_fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: url('../_fonts/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../_fonts/Raleway-Bold.ttf');
}