@font-face {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 400;
    src: url('../_fonts/Spectral-Regular.ttf');
}

@font-face {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 500;
    src: url('../_fonts/Spectral-Medium.ttf');
}

@font-face {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 600;
    src: url('../_fonts/Spectral-SemiBold.ttf');
}

@font-face {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 700;
    src: url('../_fonts/Spectral-Bold.ttf');
}

@font-face {
    font-family: 'Spectral';
    font-style: normal;
    font-weight: 800;
    src: url('../_fonts/Spectral-ExtraBold.ttf');
}
