@import url("montserrat.css");

@import url("genie-colors.css");

svg#genie-wrapper {
	font-family: var(--theme-body-font);
	fill: var(--theme-body-color);
	color: var(--theme-body-color);
	width: 100%;
	height: 100%;
	cursor: pointer;
	font-size: var(--theme-font-size);
}

svg:not(.no-style-override):not([fill]),
use:not(.no-style-override):not([fill]),
text:not(.no-style-override):not([fill]) {
	fill: var(--theme-body-color);
}

text[fill] > tspan:not([fill]) {
	fill: inherit;
}

@media print {
	svg#genie-wrapper {
		font-size: 16px;
	}
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--theme-body-background);
}

text {
	dominant-baseline: text-before-edge;
}

text.middle {
	dominant-baseline: central;
}

text.hanging {
	dominant-baseline: hanging;
}
text.right {
	text-anchor: end;
}

text.lower {
	text-transform: lowercase;
}

.heading {
	font-family: var(--theme-heading-font);
	fill: var(--theme-heading-color) !important;
}
.sub-heading {
	font-family: var(--theme-sub-heading-font);
	fill: var(--theme-sub-heading-color) !important;
}

.tiny {
	font-size: 50%;
}
.small {
	font-size: 75%;
}
.normal {
	font-size: 100%;
}
.medium {
	font-size: 150%;
}
.large {
	font-size: 200%;
}
svg[viewBox="0 0 555 555"] .large {
	font-size: 175%;
}

.super-large {
	font-size: 400%;
}

.narrow {
	font-weight: 200;
}
.bold {
	font-weight: var(--theme-bold);
}
.super-bold {
	font-weight: var(--theme-super-bold);
}
.align-center,
.center {
	text-anchor: middle;
	text-align: center;
}

.central {
	dominant-baseline: central;
}
.align-right {
	text-anchor: end;
	text-align: right;
}
.upper {
	text-transform: uppercase;
}
.lower {
	text-transform: lowercase;
}
.capitalize {
	text-transform: capitalize;
}
g#area-title {
	transform: translate(2.5%, 2.5%);
}
g#agent-contact {
	font-size: 75%;
}
g#footer {
	transform: translate(2.5%, 97.5%);
	font-size: 60%;
}
g#footer text:nth-child(2) {
	transform: translate(47.5%);
	text-anchor: middle;
}
g#footer text:last-child {
	transform: translate(95%);
	text-anchor: end;
}
.theme-body {
	fill: var(--theme-body-background);
}
.theme-body text :not([fill]) {
	fill: var(--theme-body-color) !important;
}
.theme-invert-body {
	fill: var(--theme-body-color) !important;
}
.theme-invert-body text :not([fill]) {
	fill: var(--theme-body-background) !important;
}

.banner {
	background-color: var(--vivid-banner);
	clip-path: polygon(
		0 0,
		1rem 50%,
		0 100%,
		100% 100%,
		calc(100% - 1rem) 50%,
		100% 0
	);
	text-align: center;
	padding: 0.5rem 2rem;
	display: inline-block;
	line-height: 1.75rem;
	font-size: 120%;
}
.banner svg {
	height: 1em;
	margin-right: 0.5rem;
}
table.listings {
	border-left-style: none;
	border-collapse: collapse;
}
table.listings th {
	font-size: 90%;
	line-height: 1.3em;
}
table.listings th,
table.listings td {
	border-bottom: 1px solid var(--theme-emphasis-color);
}

table.listings tr:last-child td {
	border-bottom-style: none;
}

table.listings td {
	font-size: 90%;
	line-height: 1.3em;
}
table.listings td {
	padding: 1.55% 0;
	text-align: center;
}
table.listings th {
	padding: 1% 0 0.5%;
	text-align: center;
}

svg[viewBox="0 0 555 555"] table.listings td,
svg[viewBox="0 0 555 555"] table.listings th {
	padding: 0.5%;
}

table.listings td:first-child span {
	background-color: var(--theme-emphasis-color);
	border-radius: 50%;
	color: #fff;
	padding: 0.5rem;
	margin: 0 0.5rem;
	font-weight: 600;
}

table.listings td:nth-child(2),
table.listings th:nth-child(2) {
	text-align: left;
}

foreignObject:not(.editing) p {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: var(--description-line-limit);
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 130%;
}

foreignObject.editing {
	overflow: visible;
}

foreignObject.editing p {
	margin: 0;
	line-height: 130%;
}

*[data-editable]:hover,
p[contentEditable]:focus {
	cursor: text;
	color: red;
	fill: red;
	outline: #ff0000;
	outline-style: dashed;
	outline-width: 3px;
	outline-offset: 12px;
}

.icon-stat tspan {
	font-weight: var(--theme-bold);
	font-size: 75%;
}
.icon-stat tspan:first-child {
	font-size: 125%;
}

.genie-sample {
	font-size: 750%;
	font-weight: bold;
	transform: rotate(-25deg);
	transform-origin: center;
	dominant-baseline: middle;
	text-anchor: middle;
	fill-opacity: 0.65;
}

.facebook-share-simulator {
	background: #fff;
	color: #606770;
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
	padding: 0;
	width: 100%;
}
#facebook-message {
	clear: both;
	font-size: 90%;
}

.facebook-ad-simulator {
	background-color: #f0f2f5;
	padding: 0.5rem 0.75rem;
}

.facebook-share-simulator .profile-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	float: left;
	margin-right: 1rem;
}

.facebook-share-simulator .profile-img img {
	width: 100%;
	border-radius: 50%;
	height: 100%;
}
.facebook-share-header {
	padding: 0.75rem;
}

.facebook-share-img {
	margin-bottom: 1rem;
}

.facebook-react-post,
.facebook-share-like-comment-icon {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	border-top: 1px solid #ddd;
	padding: 0.25rem 0.75rem;
}

.facebook-share-like-comment-icon {
	justify-content: space-around;
}

.facebook-ad-simulator a {
	background: #eff1f3;
	text-decoration: none;
	font-family: lato;
	padding: 4px 10px 7px 10px;
	font-weight: 600;
	color: #4b4f56;
	border: 1px solid #bec3c9;
}

.fa-button {
	display: inline-flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0.5rem 0.75rem;
	background-color: #e4e6eb;
	color: #4b4f56;
	font-weight: 600;
	float: right;
	margin-top: -20px;
	border-radius: 5px;
}

.facebook-description,
.facebook-title {
	margin: 0.5rem 0;
}
.no-events {
	pointer-events: none;
}

svg#genie-wrapper .ct-grid {
	stroke: var(--genie-chart-stroke);
}
.hoverIcon {
	display: none;
	pointer-events: all;
}

*[data-editable]:hover + .hoverIcon,
.hoverIcon:hover {
	display: block !important;
}
#genie-map.leaflet-container {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
