@font-face {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 500;
    src: url('../_fonts/times-new-roman.ttf');
}

@font-face {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    src: url('../_fonts/times-new-roman-bold.ttf');
}