* {
	margin: 0;
	padding: 0;
}

header {
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Poppins", sans-serif;
}

/*  Nav Bar CSS Start  */
.nav-bar {
	max-width: 1140px;
	margin: 0px auto;
	padding-top: 40px;
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 1fr;
}

.nav-bar p {
	color: #fff;
	font-size: 16px;
}

.nav-bar p span {
	font-size: 13px;
}

.right {
	text-align: end;
}

.nav-img {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.nav-img img {
	padding-right: 10px;
}

.nav-img img:last-child {
	padding-right: 0px;
}

/*  Nav Bar CSS End  */

/*  Header-container CSS   */
.banner-content {
	max-width: 1140px;
	margin: 0px auto;
	color: #fff;
	padding-top: 12%;
}

.contents h2 {
	font-size: 62px;
	font-weight: bold;
	line-height: 56px;
}

.contents p {
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	margin-top: 40px;
}

.search {
	display: flex;
	align-items: center;
	margin-top: 40px;
}

.banner-content form #search-address {
	width: 50%;
	max-width: 50%;
	border: 0px;
	border-radius: 50px;
	padding: 25px;
	margin-right: 20px;
}

.houses {
	display: flex;
	gap: 60px;
	margin-top: 16%;
}

.houses p {
	font-size: 16px;
	margin: 0 30px;
	display: inline-block;
	line-height: 20px;
}

/*        media query start*/
@media (max-width: 1200px) {
	.nav-bar,
	.banner-content {
		max-width: 900px;
	}
	.contents h2 {
		font-size: 50px;
	}
}

/*   media query for  768px to 990px     */
@media (max-width: 990px) {
	.nav-bar,
	.banner-content {
		max-width: 700px;
	}

	.nav-bar {
		grid-template-columns: 2fr 1fr 1fr 1fr;
	}

	.banner-content {
		display: block;
	}

	.contents h2 {
		font-size: 56px;
	}
}

/*   media query for upto 768px     */
@media (max-width: 768px) {
	.nav-bar,
	.banner-content {
		width: 100%;
		display: block;
	}


	.nav-bar p {
		color: #fff;
		font-size: 18px;
		font-weight: 700;
		text-align: center;
	}

	.contents {
		padding: 0px 10px;
	}

	.contents h2 {
		font-size: 32px;
		line-height: 40px;
		text-align: center;
	}

	.contents p {
		text-align: center;
	}

	.right {
		display: none;
	}

	.search {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 40px;
	}

	.houses {
		display: flex;
		justify-content: center;
		gap: 30px;
		margin-top: 20%;
	}

	.houses img {
		height: 27px;
	}

	.houses p {
		font-size: 13px;
		margin: 0 20px;
		display: inline-block;
		text-align: left;
	}
}

@media (max-width: 410px) {
	.houses p {
		font-size: 11px;
		text-align: left;
		margin: 0 10px;
	}

	.houses img {
		height: 25px;
	}

	.houses {
		display: flex;
		gap: 20px;
	}
}
