/*new css for V5*/
.banner-top-section-info section.step1 {
    padding: 81px 0 70px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.step1-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
    top: 0;
}

.banner-top-section-info section.step1 > .container {
    padding-bottom: 10%;
}

.funnel-header-company-logo {
    min-height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    min-width: 180px;
    top: 23px;
    left: 30px;
}

h4.home-value-area-price-info {
    font-size: 9.0em;
    line-height: 130%;
    margin: 0;
    display: inline-block;
}

.selling-information > svg {
    max-width: 90px;
    margin-bottom: 20px;
}
a.request-home-value {
    width: auto;
}
.selling-information h3.home-value-area-info {
    font-size: 3.0em;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-weight: bold;
}
h4.home-value-area-price-info span.past-months {
    font-size: 17px;
    text-align: right;
    display: block;
    line-height: 130%;
}
/* .home-value-request-for-report .home-value-other-text-info .request-home-value {
    font-size: 2.4em;
    padding: 40px 80px;
    position: relative;
    display: inline-block;
    box-shadow: none;
} */
.banner-top-section-info section.step1 img::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.2) 35%, rgba(255, 255, 255, 0) 80%);
}

.banner-top-section-info section.step1 img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.banner-top-section-info section.step1::before {
    content: none;
}
@media (max-width: 991px) {
    .selling-information h3.home-value-area-info {
        font-size: 2em;
        margin-bottom: 40px;
        line-height: 120%;
    }
    h4.home-value-area-price-info {
        font-size: 5.6em;
    }  
    .funnel-market-insider-instant-download h1.main-title-info p {
        font-size: 24px;
    }
}
@media (max-width:620px) {
    .banner-top-section-info section.step1 {
        padding-bottom: 40px;
    }

    .funnel-header-company-logo {
        left: 15px;
    }

    h4.home-value-area-price-info {
        font-size: 5.6em;
    }
    .selling-information {
        padding: 80px 15px 0px;
    }
    /* .home-value-request-for-report .home-value-other-text-info .request-home-value {
        font-size: 1.5em;
        padding: 25px 50px;  
    } */
}
/* @media (max-width: 320px){
    .home-value-request-for-report .home-value-other-text-info .request-home-value {
        padding: 25px 40px;  
    }
} */