.fl-listing-wrapper {
	padding-left: 0px;
	font-family: var(--theme-body-font);
}

.fl-listing-wrapper h4 {
	margin-bottom: 18px;
}

.fl-listing-wrapper ul {
	padding-left: 0;
	margin-bottom: 30px;
}

.fl-listing-wrapper ul p,
.fl-listing-wrapper ul li {
	list-style: none;
	padding-left: 30px;
	position: relative;
	font-size: 21px;
	margin-bottom: 10px;
	padding-left: 38px;
	padding-top: 1px;
	line-height: 30px;
}

.funnel-market-insider-instant-download h1.main-title-info,
.funnel-market-insider-instant-download h1.main-title-info p {
	font-size: 34px;
	font-weight: bold;
}

.funnel-market-insider-instant-download h1.main-title-info p {
	margin-bottom: 0;
}

.funnel-market-insider-instant-download h1.main-title-info {
	margin-bottom: 13px;
}

.funnel-market-insider-instant-download .opening-text {
	font-size: 21px;
	line-height: 30px;
	margin-bottom: 30px;
}

.get-my-report-info-btn a.btn,
a.request-home-value {
	border-radius: 70px;
	font-size: 25px;
	line-height: 100%;
	border: 0;
	padding: 20px 28px;
	transition: all ease-in-out 0.2s;
	text-transform: capitalize;
	font-weight: bold;
	box-shadow: 6px 6px 10px rgb(0 0 0 / 40%);
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

a.request-home-value {
	font-size: 2.4em;
	padding: 40px 80px;
	width: auto;
}

a.request-home-value:before {
	background: rgb(255, 255, 255);
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.3533788515406162) 29%,
		rgba(255, 255, 255, 0.4206057422969187) 62%,
		rgba(255, 255, 255, 0) 98%
	);
}

.get-my-report-info-btn a.btn > i {
	margin-left: 10px;
}

.fl-listing-wrapper ul p:before,
.fl-listing-wrapper ul li:before {
	content: "";
	position: absolute;
	left: 0;
	right: auto;
	top: -1px;
	bottom: 0;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
}

.fl-listing-wrapper ul p:before,
.fl-listing-wrapper ul li:before {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAqCAYAAADxughHAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA+dpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo2N0Q3MDYyQTZDMDQxMUU5ODkzQTg1QUQ5NkFBNUY1NiIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo2N0Q3MDYyOTZDMDQxMUU5ODkzQTg1QUQ5NkFBNUY1NiIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChXaW5kb3dzKSIgeG1wOkNyZWF0ZURhdGU9IjIwMTktMDUtMDFUMTQ6NTE6MjcrMDU6MzAiIHhtcDpNb2RpZnlEYXRlPSIyMDE5LTA1LTAxVDE2OjU5OjM4KzA1OjMwIiB4bXA6TWV0YWRhdGFEYXRlPSIyMDE5LTA1LTAxVDE2OjU5OjM4KzA1OjMwIiBkYzpmb3JtYXQ9ImltYWdlL3BuZyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkNBNzNBNjNBNkJGMjExRTk4NzcwOTUzRDYzRDE2QUNCIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkNBNzNBNjNCNkJGMjExRTk4NzcwOTUzRDYzRDE2QUNCIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+SJDRFwAABcJJREFUeNrMWVmIXEUUffX6dXcmcY0bahD8UBJFUFwQ/EhwRwi4Rn8Caj5UUAKKRIMmQQ1iRD9GFAYVVwjGXVAUMTERN+ISiVFQP1yQiGgwcTKT6Znu8lw9Fa41Va/rdc9oLhzmzVvvuXtVG2tt1o88ft/t2TSKUX9rwDiQA0cDhwC/AL8CNs/2XTFUWgh0iMXA18CPwOfAOUuW3dv5++Z91CNCok4PiILnAYPAXHXP5cCLwCyQ2V10UdL0oISNhEfseoiAeGEUOBRYDSzhOSdXkkSD92VFhIC4dABog+2ePj3iK17nd8XabXVdvtkExoAWsBAYAo70nr8MeIkkJtzzk0ILignzBgiM4vgwHJ8LnEWLTPQZMvK+N4FnSKbleWKMhO4HbqSyWi4GXqWRWyRhoastAp4wJLEMxyuAmVMc/+KFJ6mwrkhC4nBgPXBi4LkLgbdIrsXkz4TEv0KL+VDDhXEcr8XxVdNclXJFZpze2hIIJVH4fOAdYAYNYfyw1R6RcBoDicEAiTbRoeWGgV3qRXVVKhuM9QN4PpYzrrwKiaOAL5jcvkhob/BItP3cK5w3SGI+/r3Je9FrwB3Ab6opjTBfjLKsS2L3v1Fh0+SH6zRAncrIu+awJ4RILCKJARrQxqpeoaxjWda0DIHg9VPcRxxRMcSxwKfAwYH7JD+fpyf25kRMHBELhYT1AnVtJ7CcyjoLZq6TJvQZowzkh5Mj8RlwUODZB4G7/cROIeI+MkP9L3PMMElMuOqgRc6VeMRGyAmJ2cCHERKvA7dQt4kUEpmqGrGOXGNTtM4DzgsVur7xvCPyHHBE4N6vGN6GBJLnp7IRRRKx40JJKe6TsSVjSU1ds1RuHStRSKRa7qaBbdXEc03Ff3CnywsqnPvWJUnnudybq7RVHQnJuSsiusj5rYqEUTrWAjNbcmg1vYddjxAvCcH9QHAuQ8TV9Vy9S89QHU6rqyN6SO96QZHIlYGKqjniM5ZEzOkNw4YpA+QpOLeB1vsE+IGT6BwSyj3ykrDzmBch2Qws5XOFanht1QBN1aoVFZCQCraAs5B/76XAJcDZwLt8r2WezWQlyiOV7RoVAeI5mfFO5nguq7+7+B5TljdFYgVyfebhEsJy/g3gBOB7KiYWfZo9IyQ3ANsYsq7Ti1FO4/U/gZUkmJwj3XqBEHkZuBP4IHK/3LOW75WR4mauH0LyCtcbDZXcftGxXtXrKdl9a8uguAIhdg8g65P3I/eeCVzL2emByD3DXG9kikStR2NPKr++7HHNUMos0GIYuu5/XQl58dqmku9KGf6Z32+zILR66HVJbCeNyuwbMiUXON7G+A3JMaxUIZFK95Aqyw7twL0jqY0x70IqOF+pjw7SslVkeYXZbAcLQF8eqUVCzg2LdfyV7r+mAomngLc5nKYMg7t6GRo7FWPTeeVZ4PeEb0mCr+Jx6iZGx9tt7KlqFV0aZIc7Lju4mdBNVrG/NCL5EJJZKV29a/nt1ig5c2Wck8rkY5biQu9FJcjs0EZDlEiPO4p6nvqI43lKgtsuG9ZaDqzURypUkbL7Holcf5Tz2UCopPfwvd67ZgIRqUIbORz65XOlWqhN6yZZ0vTbhYhTck0gpLYn5oaZTiKpHuswdDZx2s24vTlUsUr1R4SNLw9YOk8sBJbTrsht3MpZWjH+TSAETSUiEWVlWByvQMY11O3cXPtGbYmm7rSI7K/Oj1aetaC0DGhfqmvHg8BF7BWmhIyJLEdt4pZOrqZg2UU5SV1bz8ExbamrZipZ4S1U158AgQtwfcsUlOlunpTvPuZdW+cZLPqtvT/00OJNbmPO8xTdzFmpPg15Osa931O987Jwm6/mLRuZxifPU7JLAkKLuGZoKkuckf238gdwNcOtlhKiuTeay88LkienZ//8jPB/yE803Hdq8WWTk90js5Ubb+Kd97jrOML1wVTDvVcmg1uB44Bv1WZdUg7+JcAATgoserMApm0AAAAASUVORK5CYII=);
}

.wave-design > svg {
	position: absolute;
	right: 0;
	left: 0;
	bottom: -1px;
	z-index: 1;
}

.wave-design > img {
	position: absolute;
	bottom: 90px;
	opacity: 0.3;
	transform: scale(0.9) translate(-4px, 10px);
}

@media (min-width: 1199px) {
	.wave-design {
		max-width: 1230px;
		margin: auto;
	}
}

@media (max-width: 1199px) and (min-width: 992px) {
	.get-my-report-info-btn a.btn {
		padding: 15px 25px;
	}

	body {
		font-size: 13px;
	}

	.get-my-report-info-btn a.btn {
		font-size: 22px;
	}

	.wave-design > img {
		transform: scale(1) translate(-85px, 2px);
	}
}

@media (max-width: 1024px) {
	.get-my-report-info-btn {
		margin-bottom: 0;
	}

	.price_info_with_icon {
		margin-bottom: 50px;
	}

	.wave-design > img {
		transform: scale(1.2) translate(78px, -18px);
	}
}

@media (max-width: 991px) {
	.fl-listing-wrapper {
		padding-left: 0;
	}
}

@media (max-width: 768px) {
	.wave-design > img {
		bottom: 40px;
		width: 100%;
		transform: none;
	}
}

@media (max-width: 986px) and (min-width: 769px) {
	.wave-design > img {
		transform: scale(1.2) translate(0px, 0px);
		max-width: 90%;
	}
}

@media (max-width: 575px) {
	.funnel-market-insider-instant-download h1.main-title-info,
	.funnel-market-insider-instant-download h1.main-title-info p {
		font-size: 27px;
	}

	.wave-design > svg {
		bottom: -2px;
	}

	.wave-design > img {
		bottom: 0;
		transform: none;
		width: 100%;
	}

	.funnel-market-insider-instant-download h1.main-title-info p {
		margin-top: 0;
	}

	div a.request-home-value {
		padding: 25px 40px;
		font-size: 1.5em;
		width: 80%;
	}

	.get-my-report-info-btn a.btn {
		font-size: 17px;
	}

	.fl-listing-wrapper ul p,
	.fl-listing-wrapper ul li,
	.funnel-market-insider-instant-download .opening-text {
		font-size: 17px;
	}
}

@media (max-width: 320px) {
	.funnel-market-insider-instant-download h1.main-title-info,
	.funnel-market-insider-instant-download h1.main-title-info p {
		font-size: 25px;
	}
}
