/* market-insider-instant-download-v7  */
.banner-top-section-info section.step1 > .container {
    padding-bottom: 10%;
}

#contact-us .title-top {
    color: #fff;
    margin: 0 auto 10px;
    font-size: 1.5em;
    font-weight: 400
}

#contact-us button.close {
    background: 0 0;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    line-height: 0;
    opacity: 1;
    color: #fff;
    font-size: 2em;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    position: fixed;
    right: 20px
}

#contact-us .modal-header {
    border: 0;
    padding: 15px 0 40px
}

#contact-us .contact-us-modal {
    width: 100%;
    max-width: 800px;
    position: relative;
    margin: 15px auto 15px
}

#contact-us .modal-content:before,
#contact-us .modal-content:after,
#contact-us .modal-content {
    content: '';
    display: block;
    clear: both
}

#contact-us .form-group input[type=text],
#contact-us .form-group input[type=email],
#contact-us .form-group input[type=tel] {
    width: 100%;
    height: 45px;
    border-radius: 6px;
    padding: 6px 15px;
    font-size: 1.03em;
    box-shadow: none;
    color: #b1b1b1;
    border: 1px solid #ccc
}

#contact-us .col-center {
    float: none;
    margin: auto
}

#contact-us .form-text {
    font-size: 1.5em;
    color: #999;
    margin-bottom: 0
}

#contact-us .form-wrapper {
    max-width: 100%
}

#contact-us .modal-content {
    border-radius: 16px
}

.form_description {
    font-size: .813em;
    line-height: inherit;
    clear: both;
    font-family: inherit;
    letter-spacing: normal;
    color: #999;
    font-style: italic;
    font-weight: 100;
    text-align: left
}

#contact-us .form-wrapper .form-group.col-md-6:nth-child(2n),
#contact-us .form-wrapper .form-group.col-md-6:nth-child(3n),
#contact-us .form-wrapper .form-group.col-md-12:nth-child(1n) {
    padding-left: 0
}

#contact-us .form-group.col-md-6,
#contact-us .form-group.col-md-12 {
    padding-left: 0;
    margin-top: 25px;
    margin-bottom: 5px
}

#contact-us .form-group.col-md-12.check-notify {
    padding: 0;
    margin-bottom: 25px
}

#contact-us .check-notify {
    margin-top: 16px
}

#contact-us .check-notify input[type=checkbox]:checked + label:after {
    content: "\f00c";
    color: #fff;
    font-family: FontAwesome;
    font-size: .6em;
    text-align: center;
    background-color: #0099e6
}

#contact-us .check-notify label:after {
    content: '';
    background-color: #ccc;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

#contact-us .check-notify input[type=checkbox] {
    position: absolute;
    z-index: -1;
    opacity: 0
}

.check-notify input[type=checkbox]:checked + label {
    font-weight: 400
}

#contact-us .check-notify label {
    display: block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 1em;
    text-align: left;
    line-height: 100%;
    color: #999;
    font-weight: 400
}

#contact-us button.btn.btn-info {
    background-color: transparent;
    min-width: 280px;
    border-color: #0099e7;
    color: #0099e7;
    transition: all .5s ease-in;
    border-radius: 30px;
    padding: 20px 25px;
    line-height: 100%;
    text-shadow: none;
    box-shadow: none;
    font-size: 1em;
    font-weight: 700
}

#contact-us button.btn.btn-info:hover {
    background-color: #0099e7;
    color: #fff
}

a.request-home-value {
    width: auto;
}

.step1 .agent-info-title {
    font-weight: 500;
}

.home-value-other-text-info .home-value-knowning-info {
    margin-bottom: 30px;
}

div a.request-home-value::before {
    content: none;
}

.agent-information img {
    object-fit: cover;
    object-position: top;
}

@media (max-width: 767px) {
    .funnel-market-insider-instant-download .banner-top-section-info section.step1 {
        padding-top: 40px;
    }
}
