/* open house guest book 1 */
.funnel-open-houes-guest1 section {
    padding: 0 0 50px;
}

a:hover, a:focus {
    color: #23527c;
    text-decoration: underline;
}

body:has(.thank-modal.visible){
    overflow: hidden;
}
.popup-dialog.visible{
    overflow: hidden;
}

.blur-bg {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

h3 {
    font-size: 24px;
    line-height: 100%;
}

h4{
    line-height: 130%;
}
.open-houes-guest1 .open-house-gust-date h1 {
    font-size: 41px;  
    line-height: 1.1;
    font-weight: 500;
}
.open-houes-guest1 .open-house-details h2 > span{
    font-weight: 500;
}
.contact-me-btn{
    margin:auto !important;
}
/* .custom-radio ul{
    padding-left: 0;
} */
.custom-radio .custom-control-input{
    display: none;
}
.open-houes-guest1 .custom-radio ul li label{
    font-weight: 700;
}

.checkmark {
    position: absolute;
    top: 0;
    left: -28px;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 4px 1px inset rgba(0, 0, 0, .1);
    border-radius: 50%;
}
  
.custom-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 2.2px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
}
.custom-radio input:checked ~ .checkmark:after {
    display: block;
}

.open-house-gust-date p {
    display: block;
    max-width: 600px;
    line-height: 1.3;
    margin: 0 auto 10px;
    font-size: 22px;
    font-weight: 500;
}
.open-houes-guest1 .image-container{
    line-height: 0;
}
.open-houes-guest1 .open-house-details h2{
    line-height: 1.1;
}

body .funnel-footer-background{
    padding-top: 10px;
}
.funnel-footer-background .funnel-company-logo.your_logo_class {
    margin: 0 auto 20px auto;
}
.open-houes-guest1 .custom-control ul li{
    font-size: 17px;
    line-height: 1.32;
}
h3.address-part{
    line-height: 1.1;
    font-weight: 500;
}
h3.address-part span{
    font-size: 22px;
}
.funnel-open-houes-guest1 .open-house-details .second-span{
    font-size: 20px!important;
    font-weight: 500;
}
.agent-details .f-name{
    position: static !important;
    line-height: 1.1;
}
#about-section{
    padding: 80px 0 50px !important;
}
.disclaimer-text{
    text-align: center;
}

@media (max-width:767px) {

    .open-houes-guest1 .open-house-gust-date h1 span {
        display: block;
        margin-bottom: 8px;
    }
    .open-house-gust-from-details button.btn{
        width: auto;
    }
    /* section.open-houes-guest1 .col-md-6:first-child{
            padding: 40px 0;
    } */
}
