.open-house {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	padding: 0;
	background-color: var(--theme-body-tint);
	border: 1px solid var(--theme-body-color);
	clear: both;
	align-items: center;
	justify-items: center;
}
.open-house > *:nth-child(2) {
	padding: 1rem;
}

.open-house-times {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.25rem;
	white-space: nowrap;
	margin-top: 1rem;
	font-size: 90%;
}

#open-house-directions {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-left: 1px solid #999;
	text-decoration: none;
	color: var(--theme-body-color);
	width: 100%;
	height: 100%;
}

#open-house-directions:hover {
	background-color: var(--theme-heading-color);
	color: var(--theme-body-background);
}
