.btn-style {
	border-radius: 100px;
	padding: 19px 18px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	outline: none;
	min-width: 238px;
	text-transform: uppercase;
	transition: all ease-in-out 0.2s;
	display: inline-block;
	border: 0;
}

.btn-style:hover {
	cursor: pointer;
	opacity: 0.75;
	text-decoration: none;
}

.banner-btn p,
.property-detail-part p,
.about-info-btn-part p,
.form-section-btn p {
	margin-bottom: 0;
}

.logo-part {
	margin-top: 10px;
}

.property-img-box {
	position: relative;
	z-index: 9;
}

.listing_property,
.your_property {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 40px;
	height: 40px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	color: #df9048;
	font-weight: 700;
	background: #fac400;
}

.banner-section-overlay {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0/30%);
}

.form-control {
	font-family: var(--theme-body-font);
}

.form-control:focus {
	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.header-section {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 99;
}

.logo {
	width: 140px;
	height: 48px;
	object-fit: contain;
}

.call-part {
	padding: 10px 0;
}

.contact-number a {
	font-weight: 700;
	font-size: 1.5em;
	line-height: 36px;
}

.contact-info {
	font-weight: 400;
	font-size: 0.8em;
	line-height: 0.938rem;
}

.banner-section {
	width: 100%;
	min-height: 800px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	background-position: 100% 0%;
	background-color: var(--theme-body-background);
	padding-bottom: 0;
}

.banner-section::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.banner-video-overlay,
.banner-section,
.banner-map {
	position: relative;
}

.banner-content-box-temp-11 {
	position: absolute;
	top: 30%;
	z-index: 999;
	left: 0;
	right: 0;
}

.banner-content-part p {
	font-weight: 400;
	font-size: 1.5em;
	margin-bottom: 2px;
}

.banner-content-part p,
.banner-content-part h1 {
	color: #fff;
	text-shadow: 3px 3px 5px #000000e3;
}

.banner-content-part h1,
.banner-content-part h1 p {
	font-weight: 700;
	font-size: 56px;
}

.banner-btn {
	margin-top: 26px;
}

.property-house-text {
	font-weight: 400;
	font-size: 1em;
	line-height: 2em;
}

.property-address-temp-11 {
	font-weight: 700;
	font-size: 1.5em;
	line-height: 1.4em;
}

.property-img-contact-part {
	margin: 19px 0 18px;
}

.property-img-box img,
#lead-property-map {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.property-detail {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	padding: 30px 0;
	display: flex;
	align-items: center;
}

.property-detail-part {
	width: 37.5%;
	margin: 0 auto;
	float: left;
	z-index: 9;
}

.property-detail-icon-width-part {
	width: 25%;
	margin: 0 auto;
	float: left;
}

.property-detail-part p {
	font-weight: 400;
	font-size: 2em;
	line-height: 1.938em;
}

.property-detail-icon-part p {
	font-weight: 400;
	font-size: 0.781em;
	line-height: 12px;
	margin-top: 15px;
}

.detail-border {
	border-top: 1px solid #e7e7e7;
}

.property-section {
	margin-top: -224px;
}

.property-section > div {
	background-color: var(--theme-body-background);
	padding-top: 15px;
}

.average-detail-section {
	padding: 90px 0;
	position: relative;
}

.average-detail-section:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.2;
}

.average-detail-header-part h2 {
	line-height: 40px;
	margin-bottom: 24px;
}

.avg-count-number {
	font-weight: 700;
	font-size: 3.5em;
	line-height: 54px;
	letter-spacing: 2px;
}

.avg-count-text {
	font-weight: 400;
	font-size: 1em;
	line-height: 24px;
	margin-top: 20px;
}

.average-count-box {
	margin-top: 50px;
}

.opacity-02 {
	opacity: 0.2 !important;
}

.form-section {
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.form-section-box {
	padding: 95px 0;
}

.form-section-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

textarea.form-control {
	resize: none;
}

.form-section-head-part h2,
.form-section-head-part h2 p {
	line-height: 40px;
	margin-bottom: 24px;
	font-size: 32px;
}

.form-section-form-part label {
	font-weight: 700;
	font-size: 1em;
}

.form-section-form-part {
	margin-top: 28px;
}

.form-section-form-part input {
	height: 48px;
	border-radius: 6px;
	padding: 14px;
	font-size: 14px;
}

.form-section-form-part textarea {
	border-radius: 6px;
	padding: 14px;
	font-size: 14px;
}

.form-section-form-part input.form-control::placeholder,
.form-section-form-part input.form-control:focus {
	font-weight: 400;
	color: #a7aeb8;
	outline: 0;
}

.form-section-form-part textarea::placeholder,
.form-section-form-part textarea.form-control:focus {
	font-weight: 400;
	color: #a7aeb8;
}

.form-section-form-part .form-control::placeholder {
	font-family: var(--theme-body-font);
}

.form-section-btn {
	margin-top: 20px;
}

.form-section-btn a.btn-style {
	padding: 19px 60px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

section#about-section {
	padding: 60px 0;
}

.image-section {
	padding-bottom: 80px;
}

@media only screen and (max-width: 991px) {
	.property-detail {
		width: 90%;
	}

	.banner-content-part h1,
	.banner-content-part h1 p {
		font-size: 46px;
	}
}

@media only screen and (max-width: 767px) {
	.property-detail {
		width: 100%;
	}

	.property-detail-part a.btn-style {
		font-size: 11px;
	}

	.property-detail-part p,
	.property-detail-part h2,
	.property-detail-part h4 {
		font-size: 1.6em;
	}

	.property-detail-icon-part p {
		font-size: 0.781em;
	}

	.banner-section {
		align-items: self-start;
		padding-top: 30%;
		background-position: center;
	}

	.about-info {
		text-align: center;
	}

	.banner-btn a.btn-style,
	.form-section-btn a.btn-style {
		display: block;
		width: 100%;
	}

	.about-content-part {
		text-align: center;
	}

	.col-md-8.col-lg-9.about-section-content {
		order: 1;
	}

	.col-md-4.col-lg-3.agent-section {
		order: 2;
	}

	.about-content-part {
		margin-bottom: 24px;
	}

	.banner-content-part h1,
	.banner-content-part h1 p {
		font-size: 32px;
	}

	.banner-content-box-temp-11 {
		top: 28%;
	}
}

@media only screen and (max-width: 520px) {
	.property-detail-part p,
	.property-detail-part h2,
	.property-detail-part h4 {
		font-size: 1em;
	}

	.property-detail-icon-part p {
		font-size: 0.6em;
	}

	.btn-style {
		font-size: 14px;
	}

	.logo {
		font-size: 1.125em;
	}

	.contact-number a {
		font-size: 1.15em;
	}

	h2 {
		font-size: 1.5em;
		font-weight: 700;
	}

	.avg-count-number {
		font-size: 2.8em;
	}

	.avg-count-text {
		font-size: 0.875em;
		margin-top: 10px;
		margin-bottom: 15px;
	}

	.property-detail-part a.btn-style {
		font-size: 8px;
		padding: 12px 20px;
	}

	.about-info .about-info-main a,
	.property-address-temp-11 {
		font-size: 1.25em;
		text-align: center;
	}

	.property-house-text {
		font-size: 0.875em;
	}

	.banner-content-part h1,
	.banner-content-part h1 p {
		font-size: 32px;
	}

	.banner-content-part p {
		font-size: 1.2em;
	}

	.average-detail-section {
		padding: 55px 0 50px;
	}

	.image-section {
		padding-bottom: 40px;
	}

	.form-section-box,
	.about-section-box {
		padding: 55px 0 60px;
	}

	.about-content-part h2 {
		font-size: 1.75em;
	}

	.property-section .img-box-1 {
		padding-left: 10px;
	}

	.property-section .img-box-2 {
		padding-right: 10px;
	}

	.banner-section {
		min-height: 640px;
	}

	.banner-content-box-temp-11 {
		top: 28%;
	}

	.form-section-btn button.btn-style {
		display: block;
		width: 100%;
	}

	.property-detail-part h4 {
		font-size: 12px;
	}
}

@media only screen and (max-width: 480px) {
	.banner-content-part h1,
	.banner-content-part h1 p {
		font-size: 27px;
	}

	.banner-content-part p {
		font-size: 1em;
	}

	.property-img-box img {
		height: 150px;
	}

	.about-info .about-info-main a,
	.property-address-temp-11 {
		font-size: 1em;
		text-align: center;
	}

	.banner-section {
		min-height: 500px;
	}

	.property-section {
		margin-top: -30px;
	}

	.property-house-text,
	.avg-count-text {
		font-size: 0.75em;
	}

	.avg-count-number {
		font-size: 2em;
	}

	.banner-section {
		align-items: self-start;
		padding-top: 120px;
	}

	.contact-info {
		font-size: 0.625em;
	}

	.property-detail-part a.btn-style {
		font-size: 8px;
		padding: 12px 8px;
	}

	.about-content-part h2 {
		font-size: 1.5em;
	}

	.banner-btn {
		margin-top: 15px;
	}

	.property-detail-part h4 {
		font-size: 10px;
	}
}

@media only screen and (max-width: 380px) {
	.banner-section {
		min-height: 440px;
	}

	.banner-content-box-temp-11 {
		top: 24%;
	}

	.contact-number a {
		line-height: 32px;
	}
}

@media (min-width: 992px) {
	.show_percentage_text {
		white-space: nowrap;
		margin-bottom: 0;
	}

	.average-text {
		white-space: pre-line;
	}
}
