:root{
	--primary-font: "Helvetica", Arial, sans-serif;
	--futura: "futura";
	--deep-blue:  #0c0e30;
	--mid-blue: #101230;
	--blue-2: #0d0f30;
	--mid-black: #333333;
	--golden: #b0914c;
	--green: #0d6e0b;
	--white: #ffffff;
}
html {
    font-family: sans-serif;
}
*{
	font-family: var(--primary-font);
}

body{
	font-size: 16px;
}
.container{
	max-width: 73.125rem;
	width: 100%;
	margin: auto;
	padding: 0 0.9375rem;
}
.assets-steps{
	background: var(--white) !important;
}

/* banner start*/
.landing-page-banner{
	display: flex;
	padding: 4.438rem 0 8.75rem !important;
	text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
	color: var(--white);
	z-index: 1;
	/* min-height: 92vh; */
}
.landing-page-banner::before{
	content: "";
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
    z-index: -1;
}
.company-logo{
	min-height: 8.438rem;
}
.company-logo:empty {
    min-height: 4.0625rem;
}
.company-logo img{
	width: 15.625rem;
	max-height: 4.5rem;
    object-fit: contain;
}
.address p{
	text-transform:uppercase;
	font-weight: 500;
	font-size: 1.125rem;
	margin: 0 0 0.625rem;
	line-height: 1.428;
}
.landing-page-banner h1{
	font-size: 3.375rem;
	font-weight: 700;
	line-height: 1.1;
	margin-block: 1.25rem 0.625rem;
}
.landing-page-banner .genie-logo{
	position: absolute;
    right: 1.875rem;
    bottom: 0;
}
.landing-page-banner .genie-logo>span{
	font-size: 0.813rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #c7c7c7;
    position: relative;
    top: 3.05rem;
	line-height: 1.42857143;
}
.genie-logo img {
    height: 12.5rem;
    width: 12.5rem;
	vertical-align: middle;
}
.agent-profiles{
	display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.partner-agent{
	border-radius: 50%;
    overflow: hidden;
    border: 0.313rem solid #fff;
    width: 8.75rem;
    height: 8.75rem;
    margin-top: -4.375rem;
    z-index: 2;
    position: relative;
    background: var(--white);
}
.multi-agent .partner-agent:first-child{
	right: -1.8rem;
	z-index: 3;
}
.agent-profiles img{
	width: 100%;
}
/* banner end*/

/* steps section start */
.assets-steps{
	padding-top: 4.25rem !important;
	padding-bottom: 4.25rem !important;
}
body.listing-command-proof .assets-steps{
	padding-top: 4.25rem !important;
	padding-bottom: 0 !important;
}
.assets-steps .steps-count{
	font-size: 2.25rem;
    font-weight: 400;
    margin: 2.75rem 0 0;
    letter-spacing: 0.313rem;
    color: var(--mid-blue);
	text-transform: uppercase;
	line-height: 1.42;
}
.assets-steps .steps-heading{
	font-size: 3.125rem;
	font-weight: 800;
    margin: 0;
    color: var(--mid-blue);
	line-height: 1.1;
}
.golden-border{
	border-bottom: 0.125rem solid var(--golden) !important;
	width: 98.5%;
    margin-inline: auto;
	margin-block: 1rem 1.25rem;
}
.golden-border span:first-child {
    border-right: 0.0625rem solid var(--golden) !important;
}
.golden-border span:last-child {
    border-left: 0.0625rem solid var(--golden) !important;
}
.assets-steps .section-grid{
	display: grid !important;
    grid-template-columns: repeat(5, 1fr);
	row-gap: 2.125rem;
	margin-top: -1px;
	margin-inline: -15px;
}
.assets-steps .asset-container {
	padding: 17px;
	text-align: center;
	transition: 0.2s all;
}
.assets-steps .asset-container:hover,
.assets-steps .asset-container:focus {
    box-shadow: 0 2px 12px 0 #d9d9d9;
    border-radius: 0.313rem;
    transform: scale(1.1);
}

.assets-steps .asset-container img{
	width: auto;
	max-width: 100%;
	height: 100%;
	max-height: 9.375rem;
	margin: auto;
	box-shadow: 0 2px 12px 0 #d9d9d9;
}
.assets-steps .asset-box-title{
	font-size: 1.5rem;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	color: var(--mid-black);
	margin-block: 2.5rem 0.625rem;
	line-height: 1.1;
	margin-left: -5px;
}
.assets-steps .asset-container h4{
	font-weight: 800;
	font-family: var(--futura);
    font-size: 1.188rem !important;
    color: var(--blue-2);
    margin-block: 10px 3px !important;
    height: 2.75rem;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-spacing: -0.313rem;
	line-height: 1.1;
	white-space: normal !important;
	text-align: center;
}
.assets-steps .asset-container .overlap{
	position: relative;
    width: 1px;
    height: 9.375rem;
	margin:auto;
}
.assets-steps .asset-container .overlap img:first-of-type{
	bottom: 1rem !important;
	left: -4rem !important;
}
.assets-steps .asset-container .overlap img:last-of-type{
	top: 1rem !important;
	right: -3rem !important;
}
.assets-steps .asset-container .overlap img{
	max-height: 5rem !important;
	max-width: none !important;
	height: auto !important;
}

.assets-steps .asset-container[data-title="Address Arrows"] > .overlap > a img:first-child {
	position: static;
    transform: rotate(90deg);
    max-height: 6.5rem !important;
    margin-top: 1.35rem;
}
.assets-steps .asset-container[data-title="Address Arrows"] > .overlap > a img:last-child, 
.assets-steps .asset-container[data-title="Property Brochure"] > .overlap > a img:last-child {
	display: none;
}

.assets-steps .asset-container[data-title="Address Arrows"] > .overlap,
.assets-steps .asset-container[data-title="Door Hanger Invites"] > .overlap,
.assets-steps .asset-container[data-title="Property Brochure"] > .overlap{
	position: static;
	width: auto;
}
.assets-steps .asset-container[data-title="Door Hanger Invites"] > .overlap > a > img{
	position: static;
	max-height: 9rem !important;
}
.assets-steps .asset-container[data-title="Door Hanger Invites"] > .overlap > a > img:last-child{
	margin-left: 5px;
}

.assets-steps .asset-container[data-title="Market Insider Report"] > .overlap{
	width: auto;
}
.assets-steps .asset-container[data-title="Market Insider Report"] > .overlap > a > img:first-child{
	left: 0 !important;
}
.assets-steps .asset-container[data-title="Market Insider Report"] > .overlap > a > img:last-child{
	right: 0 !important;
}

.assets-steps .asset-container[data-title="Property Brochure"] > .overlap > a > img:first-child{
	position: static;
	max-height: 9rem !important;
}

.assets-steps .asset-links{
	margin-block: 1rem 0.625rem;
	flex-wrap: wrap;
	gap: 0.188rem;
}
.asset-icon{
	text-decoration: none;
	display: flex;
    align-items: center;
	gap: 0.188rem;
	transition: 0.2s;
	cursor:pointer;
}
.asset-icon:hover{
	opacity: 0.8;
}
.asset-icon svg{
	width: 1.25rem;
	height: 1.25rem;
	background: var(--green);
    padding: 0.188rem 0.375rem;
    border-radius: 1.25rem;
}
.asset-icon span{
	font-size: 1rem;
    font-weight: 700;
    color: var(--green);
	font-family: var(--futura);
}
.share-icon svg{
	background-color: var(--golden);
}
.share-icon span{
	color: var(--golden);
}
/* steps section end */

/* vistor section start */
.visitor-sec {
    background: var(--golden);
	padding-block: 2.625rem 3.75rem;
	text-align: center;
	color: var(--white);
}

.visitor-sec h1 {
    font-size: 3.125rem;
    line-height: 1.1;
    font-weight: 700;
	margin-block: 1.25rem 1rem;
}
.visitor-sec .up-arrow{
	font-size: 3.125rem;
	display: block;
}

.bordered-button{
	display: inline-block;
    border: 0.125rem solid;
    padding: 0.688rem;
    border-radius: 0.625rem;
    font-size: 1.188rem;
    font-weight: 700;
	text-transform: uppercase;
	margin: 0;
}
/* visitor section end */

/* open house section start */
.open-house-checklist {
    background: var(--deep-blue);
    padding: 3.125rem;
    text-align: center;
    color: var(--white);
}

.text-gold,
.open-house-checklist svg {
    color: var(--golden);
}

.open-house-checklist h1 {
    font-size: 2.938rem;
    font-weight: 800;
    line-height: 3.813rem;
    margin-block: 1.25rem 0.625rem;
}
.open-house-checklist .arrow-container{
	font-size: 0.625rem;
	line-height: 1.42;
}
/* open house section end */

.grid-col-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.marketing-footer {
	padding-block: 3rem 2.25rem;
}
.marketing-footer>div{
	padding: 0 15px;
}
.marketing-footer>div:first-child{
	padding-left: 0;
}
.marketing-footer p {
	font-size: 1rem;
	font-weight: 400;
	color: #333333;
	margin-top: 0;
}
.download-pdf-link a, .footer-middle a{
	text-decoration: none;
	color: #337ab7;
}
.download-pdf-link a:hover, .footer-middle a:hover{
	text-decoration: underline;
}
footer{
	padding: 0;
}
.footer{
	padding-block: 2.5rem;
}
.footer p{
	font-size: 0.625rem;
	color: var(--mid-black);
	margin-top: 0
}
.footer-middle{
	text-align: center;
}
.footer-middle a{
	font-weight: 500;
	font-size: 0.625rem;
	text-decoration: none;
}
.footer-middle img{
	display: block;
	width: auto;
    margin: 0.4rem auto;
}
.footer div:last-child{
	text-align: right;
}
/* just-listed kit start */
body.just-listed .assets-steps .asset-container > a{
	display: flex;
}
body.just-listed .assets-steps .asset-container[data-title="Social Story 9"] > a,
body.just-listed .assets-steps .asset-container[data-title="Social Story 10"] > a,
body.just-listed .assets-steps .asset-container[data-title="Social Story 11"] > a,
body.just-listed .assets-steps .asset-container[data-title="Social Story 12"] > a,
body.just-listed .assets-steps .asset-container[data-title="Social Story 13"] > a,
body.just-listed .assets-steps .asset-container[data-title="Social Story 14"] > a
{
	min-height: 9.375rem;
}
/* just listed kit end */

@media (max-width: 1024px){
	.assets-steps .section-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 991px) {
	.company-logo img{
		width: 10rem;
	}
	.assets-steps .section-grid {
		grid-template-columns: repeat(3, 1fr);
		row-gap: 1.5rem;
	}
	.landing-page-banner h1,
	.visitor-sec h1{
		font-size: 2rem;
	}
	.assets-steps .steps-count{
		font-size: 1.9rem;
	}
	.assets-steps .steps-heading{
		font-size: 2.9rem;
	}
	.grid-col-3{
		grid-template-columns: repeat(1, 1fr);
	}
	.footer>div{
		text-align: center !important;
	}
	.footer{
		padding-block: 0.5rem 2.5rem;
	}
	.marketing-footer>div{
		padding: 0;
		margin-bottom: 36px;
	}
}

@media (max-width: 600px){
	.assets-steps .section-grid {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 1rem;
	}
	.landing-page-banner h1, 
	.visitor-sec h1{
		font-size: 1.875rem;
	}
	.landing-page-banner .genie-logo{
		position: relative;
		right: auto;
	}
	.genie-logo img{
		width: 9.375rem;
		height: auto;
	}
	.assets-steps .steps-count{
		font-size: 1.75rem;
	}
	.assets-steps .steps-heading{
		font-size: 2.375rem;
	}
	.open-house-checklist{
		padding: 3.125rem 0;
	}
	.bordered-button{
		font-size: 0.875rem;
	}
}

@media (max-width: 480px){
	.assets-steps .asset-container img,
	.assets-steps .asset-container[data-title="Door Hanger Invites"] > .overlap > a > img{
		max-height: 120px !important;
	}
	body.just-listed .assets-steps .asset-container[data-title="Social Story 9"] > a,
	body.just-listed .assets-steps .asset-container[data-title="Social Story 10"] > a,
	body.just-listed .assets-steps .asset-container[data-title="Social Story 11"] > a,
	body.just-listed .assets-steps .asset-container[data-title="Social Story 12"] > a,
	body.just-listed .assets-steps .asset-container[data-title="Social Story 13"] > a,
	body.just-listed .assets-steps .asset-container[data-title="Social Story 14"] > a
	{
		min-height: 7.5rem !important;
	}
	.assets-steps .asset-container[data-title="Door Hanger Invites"] > .overlap > a > img{
		margin-top: 1.5rem;
	}
	.assets-steps .asset-container[data-title="Address Arrows"] > .overlap > a img:first-child,
	.assets-steps .asset-container[data-title="Property Brochure"] > .overlap > a > img:first-child{
		max-height: 90px !important;
	}
	.assets-steps .asset-container:hover, 
	.assets-steps .asset-container:focus{
		box-shadow: none;
		transform: none;
	}
	.assets-steps .asset-container[data-title="Market Insider Report"] > .overlap > a > img:first-child,
	.assets-steps .asset-container[data-title="Market Insider Report"] > .overlap > a > img:last-child{
		width: 90%;
	}
	.assets-steps .asset-container .overlap img{
		max-height: 4.15rem !important;
		max-width: none !important;
		height: auto !important;
	}
}
