div.banner h1 {
	font-size: 54px;
	line-height: 60px;
}
div.banner,
div.advert {
	height: auto;
	border-bottom: 0;
}
.footer-marketing-kit {
	display: flex;
	padding: 20px 70px;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer-marketing-kit > * {
	flex-basis: 30%;
}
.footer-marketing-kit p {
	font-size: 16px;
	font-weight: 400;
	color: #333333;
}
.genie-logo {
	position: absolute;
	right: 3%;
    width: 200px!important;
    height: 200px!important;
	top: -4%;
}

@media (max-width: 800px) {
	img.logo-img {
		display: none;
	}
	.genie-logo {
		position: relative !important;
		width: 100px !important;
		height: 140px !important;
	}
	div.banner {
		width: 100%;
		padding-top: 50px;
		height: auto;
	}
	.footer-marketing-kit {
		padding: 20px 24px;
	}
}
